<h2>Create a new album</h2>

<form action="/albums/new" method="POST">
  <p>
    <label>Name</label>
    <input type="text" name="name" />
  </p>
  <p>
    <label>Duration</label>
    <input type="text" name="duration" />
  </p>
  <p>
    <label>Year</label>
    <input type="text" name="year" />
  </p>
  <p>
    <label>Songs</label>
    <select name="songs" id="">
      {{#each songs as |song|}}
      <option value={{song._id}}>
        {{song.title}}
      </option>
      {{/each}}
    </select>
  </p>
  <p>
    <input type="submit" value="Create">
  </p>
</form>