<h2>Artists</h2>

{{#each artists as |artist|}}
<a href="/artists/{{artist._id}}">
  {{artist.name}}
</a>
<br>
<a href="/artists/edit/{{artist._id}}">Edit</a>
<br>
<a href="/artists/delete/{{artist._id}}">Delete</a>
<hr>
{{/each}}